.container {
  height: 64px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 1em;
  padding-right: 1em;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  gap: 2%;
  position: fixed;
}

.homeNavigator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-decoration: none;
}

.logo {
  height: 36px;
  width: 36px;
}

.logoText {
  color: #fff;
  font-size: 1.25rem;
}

.profileName {
  margin-right: 8px;
}

.signInButton {
  background-color: var(--tw-color1);
  border-radius: 8px;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  padding: 8px 16px;
  border: none;
  margin-right: 12px;
}

.signInButton:hover {
  background-color: var(--tw-color1-hover);
  cursor: pointer;
  transition: 0.6s;
}
