@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SFRounded';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/SF-Pro-Rounded-Regular.ttf') format('truetype');
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    width: 0.5rem;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 20px;
    border: 3px solid transparent;
}
