.container {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 0 24px;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
}

.h1 {
  margin-bottom: 0px;
}

.explain {
  font-size: 1.125rem;
}

.lightPurple {
  color: #e011a7;
}

.profileGrid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.profileContainer {
  border-radius: 16px;
  border: 1px solid grey;
  padding: 16px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  overflow-x: auto;
  text-decoration: none;
  color: inherit;
}

/* on hover */
.profileContainer:hover {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;

  /* animate */
  transition: 0.3s;
}

.profileName {
  font-size: 1.25rem;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.profileHandle {
  margin-top: 0px;
  padding-top: 0px;
  padding: 8px;
  opacity: 0.85;
}
