.container {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 0 24px;
}

.profileOutlineContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 32px;
}

.profileName {
  font-size: 1.25rem;
  padding-bottom: 0px;
  margin-bottom: 2px;
}

.profileBio {
  max-width: 720px;
}

.profileHandle {
  margin-top: 0px;
  padding-top: 0px;
  opacity: 0.7;
}

.publicationsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  gap: 1em;
}
