.container {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 0 24px;
}

.profileOutlineContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 32px;
}

.profileName {
  font-size: 1.25rem;
  padding-bottom: 0px;
  margin-bottom: 2px;
}

.profileBio {
  max-width: 720px;
}

.profileHandle {
  margin-top: 0px;
  padding-top: 0px;
  opacity: 0.7;
}

.publicationsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  gap: 1em;
}

.followButton {
  background-color: var(--tw-color1);
  border-radius: 8px;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  padding: 8px 16px;
  border: none;
}

.following {
  opacity: 0.75;
  padding: 0px;
  margin: 0px;
}

.followButton:hover {
  background-color: var(--tw-color1-hover);
  cursor: pointer;
  transition: 0.6s;
}
